<%= render 'shared/navbar' %>


<!-- START -   -->
<div class="title-create-cocktail-section">
  <div class="container p-3">
    <h1 class>Create your new cocktail</h1>
  </div>
</div>
<!-- END - -->

<!-- new cocktail description section (including: photo, title and description) -->
<div class="cocktail-section">
  <div class="container p-3">
    <div class="row">
      <div class="col-6">
        <%= image_tag "wolf-wall-street-cheers-leonardo-dicaprio-480.jpg", alt: "Dicaprio cheers", height: 269, width: 480, crop: :fill, class: "cocktail-show-photo" %>
      </div>
      <div class="col-6">
        <h2>Create your cocktail</h2>
        <!-- <p>(@cocktail.id = <%#= @cocktail.id %>)</p> -->
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name, label: "Name", placeholder: "ex: Vodka martini", label_html: { class: 'ingredient-form-label' } %>
          <%= f.input :photo, as: :file, label: "Name", label_html: { class: 'ingredient-form-label' } %>
          <%= f.submit "Create new cocktail", class: "btn btn-add-cocktail" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END - cocktail description section  -->



