<!-- START - navbar -->
<div class="navbar-cocktail">
  <div class="container d-flex justify-content-between align-items-center">
    <%= link_to 'For Goodness Shake', root_path, class: "btn btn-navbar-goodness-shake" %>
    <a href="#" class="btn btn-add-cocktail">Add a new cocktail</a>
  </div>
</div>
<!-- END - button back to list section  -->
<div class="button-back-to-list-section">
  <div class="container p-3">
    <%= link_to 'Go back to cocktail list', cocktails_path, class: "btn btn-coktail-navigation" %>
  </div>
</div>
<!-- END - button back to list section -->

<!-- cocktail description section (including: photo, title and description) -->
<div class="cocktail-section">
  <div class="container p-3">
    <div class="row">
      <div class="col-5">
        <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill, class: "cocktail-show-photo" %>
      </div>
      <div class="col-7">
        <h1><%= @cocktail.name %></h1>
        <!-- <p>(@cocktail.id = <%#= @cocktail.id %>)</p> -->
        <p>Use seasonal rhubarb to make this for a G&T with a difference, or top the finished gin with soda water for a refreshing summertime drink in glorious pink.</p>
      </div>
    </div>
  </div>
</div>
<!-- END - cocktail description section  -->

<!-- START - Ingredients section (including: existing ingredients and add an ingredient form -->
<div class="ingredients-section">
  <div class="container p-3">
    <div class="row">
      <!-- ingredients list -->
      <div class="col-6">
        <h2>Ingredients</h2>
        <ul class="ingredients-list">
          <% @cocktail.doses.each do |dose| %>
            <li class="container d-flex justify-content-between">
              <%= dose.ingredient.name %> <%= dose.description %> (dose.id =<%= dose.id %>)
              <%= link_to dose_path(dose), class: "dose-delete-icon" , method: :delete, data: { confirm: "Delete dose #{dose.id}?"} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
              <%#= link_to "Delete dose (dose.id = #{dose.id})", dose_path(dose), method: :delete, data: { confirm: "Delete dose #{dose.id}?"} %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-6">
        <!-- add an ingredient form-->
        <%#= link_to 'Add an ingredient', new_cocktail_doses_path(@cocktail) %>
        <h1 class="title-add-ingredient">Add an ingredient</h1>
        <!-- Form to add a new dose (ingredient/description pair) to the cocktail -->
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient, label: 'Ingredient', collection: Ingredient.order(name: :asc), include_blank: false, label_html: { class: 'ingredient-form-label' } %>
          <%= f.input :description, label: "Quantity?", placeholder: "8ml / 3cl / 1 tsp ...", label_html: { class: 'ingredient-form-label' }  %>
          <%= f.submit "Add ingredient", class: "btn btn-add-cocktail" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END - Ingredients section -->


<!-- START - reviews section (including: existing reviews and add a review form -->
 <!-- TODO -->
<!-- END - reviews section  -->




